.pageContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/login-cover.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-width: 800px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    height: 80vh;
}

.options {
    justify-content: center;
    min-width: 800px;
    max-width: 60%;
    border-radius: 10px;
    padding: 20px;
    height: 100%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 40px;
    flex-wrap: wrap;
}

.optionContainer {
    background-color: var(--main);
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 2/3;
    border-radius: 20px;
    cursor: pointer;
    width: 270px;
    transition: 0.2s;

    &:hover {
        background-color: var(--main_soft);
        transform: scale(1.02);

        &>p {
            transform: scale(1.1);
        }
    }

    &>p {
        font-weight: 600;
        font-size: 25px;
        word-break: break-word;
        text-align: center;
        transition: 0.2s;
        color: white;
        padding: 0px 3px;
    }
}

.icon {
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 1/1;
    width: 200px;
    filter: invert(100%) brightness(100%);
}

.usersIcon {
    background-image: url('../../../public/weightlifting.png');
}

.plansIcon {
    background-image: url('../../../public/dumbbell.png');
}

.adminsIcon {
    background-image: url('../../../public/group.png');
}

.verificationsIcon {
    background-image: url('../../../public/medal.png');
}

.metricsIcon {
    background-image: url('../../../public/metrics.png');
}

.servicesIcon {
    filter: invert(100%) brightness(200%);
    background-image: url('../../../public/service.png');
}