.PlansTable {
    border-collapse: collapse;
    font-size: 20px;
    background-color: var(--main);
    font-weight: 300;

    >thead>tr>th {
        padding: 10px;
        border-left: white solid 1px;
        border-top: white solid 1px;
        border-right: white solid 1px;
        color: white;
        width: 150px;
    }

    >tr {
        >td {
            text-align: center;
            padding: 4px;
        }

        >th {
            width: 100px;
            font-weight: 200;
        }

        &:nth-child(even) {
            background-color: #ffffff;
        }

        &:nth-child(odd) {
            background-color: #eeeeee;
        }




        &:hover {
            background-color: #c5c5ff;
        }
    }
}

.TotalAmount {
    background-color: var(--main_soft) !important;
}