.header {
    tr {
        th {
            color: black;
            font-weight: 900;
            font-size: 20px;
            padding: 10px;
            text-align: left;
            padding: 12px 0px;
            width: 150px;
        }
    }
}