.LoginScreen{
    background-image: url('../../../public/login-cover.png');
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.LoginFormContainer > h1 {
    color: #6666FF;
    font-weight: 1000;
    padding: 0;
    margin-bottom: 0;
}
.LoginFormContainer > h2 {
    margin-top: 0;
    padding: 0;
}

.LoginFormContainer{
    align-self: center;
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    padding-top: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.908);
}

.LoginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.LoginForm > *{
    margin: 10px
}

.SubmitButton {
    border-radius: 10px;
    border: none;
    background-color: #6666FF;
    color: white;
    font-size: medium;
    width: 90px;
    height: 40px;
    transition: 0.2s ease;
    cursor: pointer;
}

.SubmitButton:hover {
    transform: scale(1.05);
}

.RegisterButton {
    border: none;
    background-color: white;
    color: #6666FF;
    font-size: medium;
    width: 90px;
    height: 40px;
}

.RegisterButton:hover{
    text-decoration: underline;
}

.ButtonContainer {
    display: flex;
    justify-content: space-around;
    padding: 0;
    height: 40px;
    width: 200px;
}