:root {
  --main: #FF8A0D;
  --secondary: #09005a;
  --drawer: #072a4b;
  --error: #B00020;
  --feed_items: #01092f;
  --gray: #B9B0B0;
  --header: #000621;
  --main_soft: #C16400;
  --placeholder: #8b9cb5;
  --soft_red: #f5aca4;
  --white: #FFF;
}